<!Doctype html>
<html>
<head>
  <%- include ../meta.html %>
</head>
<body>
  <%- include ../a_header.html %>
  <div class="container">
    <form role="form" class="form-horizontal activity" id="activity_form">
      <div class="form-group col-md-6">
        <label for="username" class="control-label">姓名</label>
        <input type="text" class="form-control input-lg" name="username" placeholder="姓名">
      </div>
      <div class="form-group col-md-6">
        <label for="email" class="control-label">邮箱</label>
        <input type="text" class="form-control input-lg" name="email" placeholder="邮箱">
      </div>
      <div class="form-group col-md-6">
        <label for="phone">手机号码</label>
        <input type="text" class="form-control input-lg" name="phone" placeholder="手机号码">
      </div>
      <div class="form-group col-md-6">
        <label for="career">职业</label>
        <select class="form-control input-lg" name="career" placeholder="职业">
          <option>教师</option>
          <option>金融机构从业人员</option>
          <option>学者</option>
          <option>政府官员</option>
          <option>学生</option>
          <option>其他</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="unit">单位</label>
        <input type="text" class="form-control input-lg" name="unit" placeholder="单位">
      </div>
      <div class="form-group col-md-6">
        <label for="department">部门</label>
        <input type="text" class="form-control input-lg" name="department" placeholder="部门">
      </div>
    </form>
    <div class="container my-buttons">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-primary btn-lg" id="submit_btn">提交</button>
          <a class="btn btn-default btn-lg" href="/activity" target="_self">返回</a>
        </div>
      </div>
    </div>

  </div>
  <%- include ../a_footer.html %>
  <script>
    $('input.form-control').on('focus',function(e){
      var that = this;
      $(that).parent().removeClass('has-error')
    });
    $('#submit_btn').on('click',function(e) {
      var values = {};
      $.each($('#activity_form').serializeArray(), function(i, field) {
          values[field.name] = field.value;
      });
      if(!values['username']){
        $('input[name="username"]').parent().addClass('has-error')
      }
      else if(!values['email']){
        $('input[name="email"]').parent().addClass('has-error')
      }
      else if(!values['phone']){
        $('input[name="phone"]').parent().addClass('has-error')
      }else{
        $.post("/activity/apply",values,function(result){
          if(result.err == 0){
            alert('注册成功!')
          }
        },'json')
      }
    })
  </script>
</body>
</html>