<!DOCTYPE html>
<html>
<head>
  <%- include meta.html %>
</head>
<body>
  <%- include ../header.html %>
  <div class="container">
    <div class="c-course">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <a href="/jhu" class="c-partner-logo"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-university-assets.s3.amazonaws.com/24/a5491a6d05978252a18f93a5272c80/bloomberg.small.horizontal.blue-Coursera.png" alt="Johns Hopkins University"></a>
          <h1>统计推断</h1>
          <h3>隶属于&nbsp;<a href="/specialization/jhudatascience/1?utm_medium=courseDescripTop">数据科学 专项课程 »</a></h3>
          <p>Learn how to draw conclusions about populations or scientific truths from data. This is the  sixth course in the Johns Hopkins Data Science Course Track.</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="c-vedio-container">
              <video height="254" data-js="previewVideo" preload="metadata" controls="controls" poster="/resource/img/k/6.jpg" src="https://d1a2y8pfnfh44t.cloudfront.net/19e9dff0851211e3b3e3a539a6199a02/full/540p/index.mp4"><source type="video/mp4" src="https://d1a2y8pfnfh44t.cloudfront.net/19e9dff0851211e3b3e3a539a6199a02/full/540p/index.mp4"><source type="video/webm" src="https://d1a2y8pfnfh44t.cloudfront.net/19e9dff0851211e3b3e3a539a6199a02/full/540p/index.webm"></video>
            </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ../footer.html %>
</body>
</html>