<!Doctype html>
<html>
<head>
  <%- include ../meta.html %>
  <link rel="stylesheet" type="text/css" href="/resource/css/gdpx.css">
</head>
<body class="bodybg index">
  <div class="h-container">
    <div class="header">
      <a href="http://www.chinacft.org/" target="_blank"><img class="logo" src="/resource/img/f_logo_w.png" alt="中国金融培训中心" height="65" width="359"></a>
      <h1>
        <img src="/resource/img/banner_use.png" alt="2015中国金融高端培训" width="1200" height="533">
      </h1>
      <a class="zxbm" href="http://www.nebulafe.com/gdpx/apply/" target="_blank"></a>
    </div>
  </div>
  <div class="m-container">
    <ul class="Hot clearfix">
      <li class="hot1">
          <em class="first icon-vector-600"></em>
          <p class="HotTit">汇集世界顶尖经济金融智慧的金融讲坛</p>
      </li>
      <li class="hot2">
          <em class="icon-vector-601"></em>
          <p class="HotTit">金融支持实体经济的服务桥梁</p>
      </li>
      <li class="hot3">
          <em class="icon-vector-602"></em>
          <p class="HotTit">全球最新宏观经济金融政策的沟通引导平台</p>
      </li>
      <li class="hot4 last">
          <em class="icon-vector-603"></em>
          <p class="HotTit">金融业管理人员能力提升的快捷通道</p>
      </li>
    </ul>
    <div class="content clearfix">
      <div class="contentLeft">
        <h2 class="indexH2 firstH2" id="gdlt_bj">背景</h2>
        <p>中国经济发展已经进入“新常态”，金融业的改革与发展正处在关键时刻，尤其是随着利率市场化和存款保险制度步伐的加快，以及互联网金融的兴起，整个金融业正面临着前所未有的机遇和挑战。作为金融从业人员，有必要顺应时势，充分理解和认识新常态，不断提高风险管理能力。基于此，“中国金融高端培训”将于2015年5月下旬在北京举办。</p>
        <h2 class="indexH2" id="gdlt_zj">主讲嘉宾</h2>
        <h3 class="indexH3">Darrell Duffie 教授</h3>
        <div class="people-wrap">
           <div class="p-img"><img src="/resource/img/darrell_duffie.jpg" alt="Darrell Duffie教授"></div>
           <p>Darrell Duffie，1984年获得斯坦福大学博士学位并开始斯坦福大学任教，现为现为斯坦福商学院金融学Dean Witter Distinguished教授，其研究的主要领域为资产定价、风险和管理、信用风险建模，以及固定收益证券和股票市场，在国际上享有很高的知名度。Duffie教授1995年当选为美国经济计量学会会士，2008年当选美国经济计量学会理事会成员；2000年至今为美国金融学会董事会成员，2009-2010年当选为美国金融学会主席。Duffie教授现为纽约联储金融顾问，美国艺术和科学院院士，国家经济研究局研究员，他目前还是金融稳定理事会主管的市场主体集团的主席，专为包括伦敦同业市场拆借利率、欧洲同业市场拆借利率在内的市场利率基准的改革提供政策建议。Duffie的主要著作包括《证券市场》（1988年）、《动态资产定价》（1992年）、《信用风险》（2003年）、《大银行是如何倒闭的》（2010）、《公司违约风险度量》（2011年）以及《暗黑市场》（2012）等。</p>
        </div>
        <h2 class="indexH2" id="gdlt_hg">往期回顾</h2>
        <div class="jchg clearfix">
          <ul>
            <li class="firstPic"><img src="/resource/img/jchg_1.jpg" class="firstPic" width="184" height="117" alt="">
              <span>中国人民银行副行长<br>易纲</span>
            </li>
            <li><a href="http://www.chinacft.org/demo/gdpx/1.html" target="_blank"><img src="/resource/img/jchg_2.jpg" width="184" height="117" alt="">
              <span>2011诺贝尔经济学奖获得者<br>托马斯•萨金特</span></a>
            </li>
            <li><a href="http://www.chinacft.org/demo/gdpx/2.html" target="_blank"><img src="/resource/img/jchg_3.jpg" width="184" height="117" alt="">
              <span>哈佛大学经济学教授<br>罗伯特•巴罗</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="contentRight">
        <div class="zxdt">
          <p class="tit" id="gdlt_zxdt">最新动态</p>
          <ul class="zxdtList">
            <li>2015年高端培训报名正式启动</li>
          </ul>
        </div>
        <div class="pxnr">
          <p class="tit" id="gdlt_pxnr">培训内容</p>
          <ul class="pxnrList">
            <li>中国经济形势与金融改革</li>
            <li>中国的利率、汇率改革政策</li>
            <li>美联储近期货币与监管政策</li>
            <li>全球金融市场波动与监管</li>
            <li>商业银行战略与转型创新</li>
            <li>商业银行的兼并与重组</li>
          </ul>
          <a href="/gdpx/schedule" class="rcap" target="_blank">培训日程安排</a>
        </div>
        <div class="pxdx">
          <p class="tit">培训对象</p>
          <ul>
            <li>金融机构风险管理相关岗位拥有三年及以上工作经验从业人员</li>
            <li>国内外院校、科研院所相关专业具有较强研究专长的骨干教师及研究人员</li>
            <li>高等院校本科大三以上经济专业在校学生，具有金融英语中级及以上证书者优先</li>
            <li>人民银行和部分国家中央银行官员以及部分地方政府相关官员</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="rcap">

  </div>
  <%- include ../a_footer.html %>
</body>
</html>