<!Doctype html>
<html>
<head>
  <%- include ../meta.html %>
  <link rel="stylesheet" type="text/css" href="/resource/css/gdpx.css">
</head>
<body class="bodybg index">
  <div id="header" class="nav-logo">
    <a href="http://www.chinacft.org/" target="_blank"><img src="/resource/img/f_logo_w.png" alt="" height="65" width="359"></a>
  </div>
  <div class="carousel slide" id="myCarousel">
    <div class="carousel-inner">
      <div class="item active masthead">
        <div class="masthead-bg"></div>
        <div class="container">
          <div class="carousel-caption">
            <p>
              <a href="/gdpx/apply" class="btn btn-lg btn-primary btn-shadow bs3-link" role="button">在线报名</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-container">
    <ul class="Hot clearfix">
      <li class="hot1">
          <p class="HotTit icon-vector-600">汇集世界顶尖经济金融智慧的金融讲坛</p>
          <p class="HotCont">邀请全球顶尖经济学大师对全球金融经济形势和全球金融热点问题作出最权威和最深入的预判和分析。</p>
      </li>
      <li class="hot2">
          <p class="HotTit icon-vector-601">金融支持实体经济的服务桥梁</p>
          <p class="HotCont">坚持科学发展本质要求，立足服务实体经济和加快转变经济发展方式，助推金融支持实体经济发展。</p>
      </li>
      <li class="hot3">
          <p class="HotTit icon-vector-602">全球最新宏观经济金融政策的沟通引导平台</p>
          <p class="HotCont">科学制定经营管理和可持续发展策略,将强宏微观金融安全意识,营造有利于宏观经济政策实施和金融业稳健发展的良好环境。</p>
      </li>
      <li class="hot4 last">
          <p class="HotTit icon-vector-603">金融业管理人员能力提升的快捷通道</p>
          <p class="HotCont">帮助中国大众和金融业提高对金融的理解能力，提高中国金融业在国内外市场的发展能力和竞争能力。</p>
      </li>
    </ul>
    <div class="content clearfix">
      <div class="contentLeft">
        <h2 class="indexH2 firstH2" id="gdlt_bj">背景</h2>
        <p>中国的改革和发展使中国在全球的地位不断提高，中国越来越关注世界经济金融走势，世界各国也越来越关注中国的经济金融改革与发展。如何预判全球和中国的经济金融形势？如何在重点领域和关键环节推进中国金融改革？中国的金融改革会给中国金融机构的发展和全球经济带来什么样的影响？对于这些问题，国内外诸多金融机构均有搭建立足中国、面向全球的平台，以便于境内外政策制定者、金融业界高管和学界精英进行深入沟通、交流和探讨的强烈需求。</p>
        <p>现应国内外金融机构需要，经中国人民银行行领导批准，在整合全球经济金融优质资源基础上，中国金融培训中心拟于近期举办2014年中国金融高端培训。</p>
        <h2 class="indexH2" id="gdlt_zj">主讲嘉宾</h2>
        <h3 class="indexH3">罗伯特·希勒（Robert J. Shiller）</h3>
        <p>罗伯特•希勒教授是耶鲁大学经济系斯坦利•里索（Stanley B. Resor）经济学教授。2013年因“资产价格实证分析方面的贡献”获得诺贝尔经济学奖。希勒教授在金融市场、行为经济学、宏观经济学、统计方法及市场道德判断、公共选择等研究领域进行了创造性的研究。希勒教授的著作《非理性繁荣》、《动物精神》、《金融新秩序》均产生了较大了社会影响。</p>
        <h3 class="indexH3">约翰•杜卡（John Duca ）</h3>
        <p>约翰•杜卡现任美国达拉斯联邦储备银行副主席。约翰•杜卡副主席1986年加入美联储，1991年进入达拉斯联邦储备银行。杜卡副主席资深的中央银行家，同时也是学术造诣极高的经济学家，对于货币政策与宏观经济的关系等方面具有极深研究，其论文常被经济学季刊、政治经济学，经济学评论等全球顶级经济学刊物所采用。</p>
        <h3 class="indexH3">约翰•马奥尼（John Mahoney）</h3>
        <p>约翰•马奥尼现任高盛集团全球金融机构部副主席，1987年加入高盛集团，先后在固定收益部、兼并重组部工作，1995年进入高盛集团全球金融机构部，先后任主管、合伙人、副主席。约翰•马奥尼领导的团队是银行、证券和保险机构资本筹集和兼并重组领域的市场领头羊。</p>
        <h2 class="indexH2" id="gdlt_hg">往期回顾</h2>
        <div class="jchg clearfix">
          <ul>
            <li class="firstPic"><img src="/resource/img/jchg_1.jpg" class="firstPic" width="184" height="117" alt="">
              <span>中国人民银行副行长<br>易纲</span>
            </li>
            <li><a href="/demo/gdpx/1.html" target="_blank"><img src="/resource/img/jchg_2.jpg" width="184" height="117" alt="">
              <span>2011诺贝尔经济学奖获得者<br>托马斯•萨金特</span></a>
            </li>
            <li><a href="/demo/gdpx/2.html" target="_blank"><img src="/resource/img/jchg_3.jpg" width="184" height="117" alt="">
              <span>哈佛大学经济学教授<br>罗伯特•巴罗</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="contentRight">
        <div class="zxdt">
          <p class="tit" id="gdlt_zxdt">最新动态</p>
          <ul class="zxdtList">
            <li>中国经济形势与金融改革</li>
            <li>中国的利率、汇率改革政策</li>
            <li>美联储近期货币与监管政策</li>
            <li>全球金融市场波动与监管</li>
          </ul>
        </div>
        <div class="pxnr">
          <p class="tit" id="gdlt_pxnr">培训内容</p>
          <ul class="pxnrList">
            <li>中国经济形势与金融改革</li>
            <li>中国的利率、汇率改革政策</li>
            <li>美联储近期货币与监管政策</li>
            <li>全球金融市场波动与监管</li>
            <li>商业银行战略与转型创新</li>
            <li>商业银行的兼并与重组</li>
          </ul>
        </div>

        <div class="pxdx">
          <p class="tit">培训对象</p>
            <p>境内外金融机构中高级管理人员<br></p>
            <p>人民银行和部分国家中央银行官员以及部分地方政府相关官员。</p>
        </div>

        <div class="lxwm">
          <p class="tit">联系我们</p>
          <p><span class="pink">联系人：</span><br>
            申老师 010-66199372 / 18600068850<br>
            郭老师 010-66199346 / 15901024221<br></p>
          <p><span class="pink">传真：</span>010-88091587<br></p>
          <p><span class="pink">邮箱：</span>gdpx@chinacft.org<br></p>
          <p><span class="pink">通信地址：</span>北京市西城区成方街32号中国人民银行中国金融培训中心，邮编100800<br></p>
          <p><span class="pink">工作地点：</span>北京市西城区金融街35号国际企业大厦A座7层B区。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="rcap">

  </div>
  <%- include ../a_footer.html %>
</body>
</html>