<footer class="bs-docs-footer" id="footer" role="contentinfo">
  <div class="footer-contacts text-center">
    <div class="c-people">联系人:申老师 010-66199372 / 18600068850<br>郭老师 010-66199346 / 15901024221</div>
    <div class="c-emails">传真：010-88091587<br>邮箱：gdpx@chinacft.org</div>
    <div class="c-address">通信地址：北京市西城区成方街32号中国人民银行中国金融培训中心，邮编100800<br>工作地点：北京市西城区金融街35号国际企业大厦A座7层B区。</div>
  </div>
  <div class="footer-copyright text-center">版权所有：中国金融培训中心 京ICP备12001307号 Copyright©www.chinacft.org All Rights Reserved </div>
</footer>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://a.tbcdn.cn/libs/seajs/1.1.0/sea.js"></script>
<script>
  var root = location.protocol + "//" + location.host + "/resource/";
  seajs.config({
    base : root,
    path : {
      'js' : root + 'js',
      'css' : root + 'css',
      'img' : root + 'img',
      'swf' : root + 'swf'
    },
    map: [
      [ /^(.*\/.*\/.*\.(?:css|js))(?:.*)$/i, '$1?20150308']
    ]
  });
</script>